body {
    background-color: #F7F7F7;
    color: #139BD0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

#logo-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-image {
    width: 40px;
    height: auto;
}

#nav-buttons {
    color: #139BD0;
    justify-content: space-around;
    font-size: 1.2em
}

#login {
    background-color: #69CF67;
}

#video-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#videos-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-buttons {
    font-size: 4em;
}

#video {
    width: 900px;

}

#start-button {
    background-color: #F3E184;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}