body {
    background-color: #F7F7F7;
    color: #139BD0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-image {
    width: 120px;
    margin: 0em 0em 0em 1em;
    padding-left: 20px;
}

#nav-buttons {
    padding: 1% 2% 1% 0%;
    margin-right: 1em;
}

.nav-button {
    font-size: 0.9em;
    margin: 0em 0em 0em 2em;
    color: #139BD0;
    font-weight: 500;
    text-decoration: none;
}

#login {
    background-color: #69CF67;
    border-radius: 30px;
    padding: 10px 40px 10px 40px;
    color: #F7F7F7;
    font-weight: bold;
}

#header-division {
    background-color: #9CD2E7;
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 4em 0em 4em;
}

#videos-conteiner {
    display: flex;
    flex-direction: column;
    margin: 2em;
    margin-top: 3em;
}

#video-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0.3em;
    font-weight: 530;
}

#videos-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-buttons {
    font-size: 4em;
    margin: 0.1em;
}

#video {
    width: 600px;
}

#start-button {
    background-color: #F3E184;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 500;
    color:#F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    margin: 0.3em 26em 2em 26em;
    border-radius: 30px;
    letter-spacing: 2px;
    box-shadow: 0px 2px 15px rgba(128, 128, 128, 0.412);
}